@using System.Configuration
@model TMD.Models.IdentityModels.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
    Session["MenuKey"] = "Login";
}
<style>
    ul {
    list-style-type: none;
}
</style>
<div class="main">
    <div class="container">
        @*<ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ul>*@
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 margin-top-20">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix"><a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())\Account\ForgotPassword"><i class="fa fa-angle-right"></i> Restore Password</a></li>
                    <li class="list-group-item clearfix"><a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())\Account\Pricing"><i class="fa fa-angle-right"></i> Register</a></li>
                    
                    
                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-9">
                <h1>Login</h1>
                <div class="content-form-page">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-without-legend", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                
                                    <div class="form-group">
                                        <label for="email" class="col-lg-4 control-label">Email <span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control mandatory" id="Email"  name="Email">
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required" })
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-lg-4 control-label">Password <span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            <input type="password" class="form-control  mandatory" id="Password" name="Password">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8 col-md-offset-4 padding-left-0 ">
                                            <button type="submit" onclick="return ValidateFields()" class="btn btn-primary">Login</button>
                                        </div>
                                    </div>

                                    }

                                    <div class="row">
                                        <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                            <a href="@(ConfigurationManager.AppSettings["SiteURL"].ToString())\Account\ForgotPassword">Restore Password?</a>
                                        </div>

                                    </div>
                                    @*<div class="row">
                                            <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-10 padding-right-30">
                                                <hr>
                                                <div class="login-socio">
                                                    <p class="text-muted">or login using:</p>
                                                    <ul class="social-icons">
                                                        <li><a href="#" data-original-title="facebook" class="facebook" title="facebook"></a></li>
                                                        <li><a href="#" data-original-title="Twitter" class="twitter" title="Twitter"></a></li>
                                                        <li><a href="#" data-original-title="Google Plus" class="googleplus" title="Google Plus"></a></li>
                                                        <li><a href="#" data-original-title="Linkedin" class="linkedin" title="LinkedIn"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>*@
                                
                        </div>
                        @*<div class="col-md-4 col-sm-4 pull-right">
                            <div class="form-info">
                                <h2><em>Important</em> Information</h2>
                                <p>Duis autem vel eum iriure at dolor vulputate velit esse vel molestie at dolore.</p>
                                <button type="button" class="btn btn-default">More details</button>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>
