@model  TMD.Web.Models.AspNetUserModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = "2";
}
<!-- Navigation Bar -->

<!-- Page heading -->

<!--Notifications begin-->
@Html.Partial("_Alert")

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@

    <h3 class="page-title">
        My Profile <small>View and Edit Profile</small>
    </h3>
    <div class="portlet box blue-hoki">
        <div class="portlet-title">

            <div class="tools">
                @*<a href="javascript:;" class="collapse">
                    </a>*@

                
            </div>
            <div class="caption">
                <i class="fa fa-male"></i>Manage your profile
            </div>
        </div>

        <div class="portlet-body form">
            <div class="container-fluid">
                @Html.AntiForgeryToken()

                @*@Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.oldRole)*@

                <div class="form-group margin-top-20">
                    <label class="col-md-3 control-label">First Name</label>
                    <div class="col-md-4">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-circle mandatory", @readonly = "readonly", @placeholder = "Enter Name", @id = "Name" })
                        @*<input type="text" name="FirstName" id="" class="form-control input-circle mandatory" placeholder="Enter First Name">*@
                        @*@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "required" })*@
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" name="LastName">Last Name</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-circle mandatory", @readonly = "readonly"})
                    </div>
                    
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label" name="LastName">Username</label>
                    <div class="col-md-4">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-circle mandatory", @readonly = "readonly" })
                    </div>
                    
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-circle mandatory", @readonly = "readonly" })
                    </div>
                    
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">Address</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-circle mandatory", @readonly = "readonly" })
                    </div>
                    
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">Telephone</label>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control input-circle mandatory", @readonly = "readonly" })
                    </div>
                    
                </div>


                @if (Model != null)
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label" name="LastName">Role</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control input-circle mandatory", @readonly = "readonly" })
                            
                        </div>
                    </div>
        }
            </div>

        </div>
    </div>
}


@*<!-- Form starts.  -->
@using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
{
    <div class="container-fluid">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        <!--Input Field begin-->
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">User Name</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly", @placeholder = "First Name" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Email">Email</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="Address">Address</label>
            </div>
            <div class="span9">
                <div class="controls">
                    @Html.TextBoxFor(model => model.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
        </div>
        <!--Drag And Drop Upload begin-->
        <div id="Drag_And_Drop_Upload" class="control-group row-fluid">
            <div class="span3">
                <label class="control-label" for="inputField">
                    Photo<a href="javascript:;" class="bootstrap-tooltip" data-placement="top" data-original-title="file size shouldn't exceed 1MB"><i class="icon-photon info-circle"></i></a>
                </label>
            </div>
            <div class="span9 row-fluid">
                <div class="upload-boxes row-fluid">
                    <div class="span3" id="upload"></div>
                    <div class="span9" id="uploaded"></div>
                </div>
            </div>
        </div>
        <!--Drag And Drop Upload end-->
        <div class="control-group row-fluid">
            <div class="span12 span-inset">
                <button type="submit" class="btn">Update</button>
            </div>
        </div>
    </div>
}

<script>
        $().ready(function() {

            var errors = "";

            $('#upload').mfupload({
                type: 'jpg,png,tif,jpeg', // type: '', for all types
                maxsize: 1, //file size in MBs
                post_upload: "UploadUserPhoto",
                folder: "./",
                ini_text: "Drag your file here or click (max: 1MB)",
                over_text: "Drop Here",
                over_col: '#666666',
                over_bkcol: '#f0f0f0',

                init: function() {
                    $("#uploaded").empty();
                },

                start: function(result) {
                    $("#uploaded").append("<div id='FILE" + result.fileno + "' class='files'>" + result.filename + "<div class='progress progress-info progress-thin'><div class='bar' id='PRO" + result.fileno + "'></div></div></div>");
                },

                loaded: function(result) {
                    $("#PRO" + result.fileno).remove();
                    $("#FILE" + result.fileno).html("Uploaded: " + result.filename + " (" + result.size + ")");
                },

                progress: function(result) {
                    $("#PRO" + result.fileno).css("width", result.perc + "%");
                },

                error: function(error) {
                    errors += error.filename + ": " + error.err_des + "\n";
                },

                completed: function() {
                    if (errors != "") {
                        alert(errors);
                        errors = "";
                    }
                }
            });
        });
</script>*@
