@model TMD.Web.ViewModels.BatchImportViewModel
@{
    ViewBag.Title = "Batch Import";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 4;
    
}
<script src="~/Scripts/jquery.blockUI.js"></script>

<header>

    <h3 class="page-title">
        Ebay Import Batches <small>(Ebay Integration Summary)</small>
    </h3>
    @*<h3> <small><a href="~/Account/Create">Add New User</a></small></h3>*@
</header>

<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet-title">
                    @*<div class="caption">
                        <i class="fa fa-filter"></i>Filters
                    </div>*@
                    <div class="tools">
                        <input type="button" class="btn green" id="btnFltr" value="Filter" />
                        <input type="button" class="btn green titleButton" id="btnResetFltr" value="Reset">
                   
                        <a href="#" onclick="PerformOperation()" style="float: right; padding: 6px !important"  class="btn btn-lg blue">
                            Start eBay Batch Load <i class="fa fa-gears"></i>
                        </a>

                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-actions">
                        <div>
                            <table class="responsive">
                                <tr>
                                 
                                    <td class="col-md-1">
                                        <label class="control-label"> Batch </label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @*<input type="text" class="searchInputs form-control" value="" name="Title" id="Title" />*@
                                            @Html.TextBox("BatchNumber", "", new { @class = "searchInputs form-control", @id = "BatchNumber", @placeholder = "Search Batch" })
                                            <input name="QS" id="QS" type="hidden" />

                                        </div>

                                    </td>   
                                    <td class="col-md-1">
                                        <label class="control-label"> In Process? </label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @Html.DropDownList("InProcess", new SelectList(Model.BoolDropDownModels, "Id", "Name"), new { @class = "form-control", id = "InProcess" })

                                        </div>

                                    </td>
                                   
                                    <td class="col-md-3">
                                      
                                    
                                    
                                    

                                   
                                 
</tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="portlet box blue">
                    <table id="dataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="textAlignRight">Id</th>
                                <th class="tableLeftAlignHeader">In Process</th>
                                <th class="tableLeftAlignHeader">Created On</th>
                                <th class="tableLeftAlignHeader">Started On</th>
                                <th class="tableLeftAlignHeader">Completed On</th>
                                <th class="textAlignRight">Imported</th>
                                <th class="textAlignRight">Failed</th>
                                <th class="textAlignRight">Auctions</th>
                                <th class="textAlignRight">Fixed Price</th>
                                
                                
                                @*<th class="textAlignRight">Points</th>
                                <th class="textAlignRight">Fb Points</th>
                                <th>Active</th>*@
                                @*<th></th>*@
                                @*<th>Delete</th>*@
                            </tr>
                        </thead>
                        
                    </table>
                </div>
            </div>
        </div>
    </form>
    
</div>

<script type="text/javascript">

    $(document).ajaxStop($.unblockUI);
    function PerformOperation() {
        var siteURL = $('#siteURL').val();
        $.blockUI({ message: '<h3><img src="../Images/loading.gif" height=55px; width=55px; /> Ebay Service Started...</h2>' });
        $.ajax({

            url: siteURL+"Admin/PerformEbayService"
            
        }).done(function (e, r) {
            alert("Service Succesfully Completed");

        }).error(function (e, r,v) {
            alert("ERROR: "+v);
        });
    }

    jQuery(document).ready(function($) {
   
        var siteURL =  $('#siteURL').val();
        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];
        $("#BatchNumber").change(function () {
            //alert($('#BatchNumber').val());
            $('#QS').val($('#BatchNumber').text());
        });
        var Param = getParameterByName('vpek');
        if (Param != null && Param.length > 0) 
        {
            $('#QS').val(Param);
            $("#BatchNumber").val($('#QS').val());
        }
        var oTable = $('#dataTable').dataTable({
            "iDisplayLength": 11,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],

            "columns": [
                { "data": "EbayBatchImportId", "class": "textAlignRight" },
                { "data": "InProcess"},
                { "data": "CreatedOn", },
                { "data": "StartedOn" },
                { "data": "CompletedOn" },
                { "data": "Imported", "class": "textAlignRight" },
                { "data": "Failed", "class": "textAlignRight" },
                { "data": "Auctions", "class": "textAlignRight" },
                { "data": "FixedPrice", "class": "textAlignRight" }

            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: siteURL + "Admin/BatchImportLV",
                type: "POST",
                dataType: "json",
                data: function(params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    params.IsAsc = params.order[0].dir === "asc";
                    var e = document.getElementById('InProcess');
                    params.InProcess = e.options[e.selectedIndex].value;
                    params.BatchNumber = $('#QS').val();
                }
             
            }

        });
        $('#btnFltr').on('click', function(e) {
            oTable.fnDraw();
        });

        $('#btnResetFltr').on('click', function(e) {
            $('#InProcess').val("0");
            oTable.fnFilter('');
        });
    });

    function fnActivityComplete(data, e) {
        debugger
    }

</script>