@model TMD.Web.ViewModels.EbayItemViewModel
@{
    ViewBag.Title = "Ebay Item Import";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Session["MenuKey"] = 4;
    
    }

<header>

    <h3 class="page-title">
        Item Import <small>(Ebay Integration Summary)</small>
    </h3>
    @*<h3> <small><a href="~/Account/Create">Add New User</a></small></h3>*@
</header>

<div class="container-fluid">
    <form class="form-horizontal">
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet-title">
                    @*<div class="caption">
                        <i class="fa fa-filter"></i>Filters
                    </div>*@
                    <div class="tools">
                        <input type="button" class="btn green" id="btnFltr" value="Filter" />
                        <input type="button" class="btn blue titleButton" id="btnResetFltr" value="Reset">
                        <a href="~/Admin/BatchImportLV">
                            <button id="backBatch" class="btn btn-success" style="float: right; display: none" type="button"><i class="fa fa-arrow-left fa-fw"></i> Back to Batch    </button>
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-actions">
                        <div>
                            <table class="responsive">
                                <tr>
                                    <td class="col-md-1">
                                        <label class="control-label"> Title </label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @*<input type="text" class="searchInputs form-control" value="" name="Title" id="Title" />*@
                                            @Html.TextBox("Title", "", new { @class = "searchInputs form-control", @id = "Title", @placeholder = "Search Title" })
                                           
                                        </div>

                                    </td>
                                    
                                    <td class="col-md-1">
                                        <label class="control-label"> Toy Grader ID </label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @*<input type="text" class="searchInputs form-control" value="" name="Title" id="Title" />*@
                                            @Html.TextBox("ToyGraderID", "", new { @class = "searchInputs form-control", @id = "ToyGraderID", @placeholder = "Search Toy Grader" })
                                          
                                        </div>

                                    </td>
                                    <td class="col-md-1">
                                        <label class="control-label"> AFA Serial </label>
                                    </td>
                                    <td class="col-md-2">
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            @*<input type="text" class="searchInputs form-control" value="" name="Title" id="Title" />*@
                                            @Html.TextBox("AFASerial", "", new { @class = "searchInputs form-control", @id = "AFASerial", @placeholder = "Search AFA Serial" })
                                          
                                        </div>

                                    </td>
                                </tr>
                           <tr style="height: 10px !important; "></tr>
                                  <tr>
                                      <td class="col-md-1">
                                          <label class="control-label"> Created On </label>
                                      </td>
                                      <td class="col-md-2">
                                          <div class="input-icon">
                                              <i class="fa fa-search"></i>
                                              @Html.TextBox("CreatedOn", "", new { @class = "searchInputs form-control", @id = "CreatedOn", @placeholder = "Created On" })
                                          </div>
                                      </td>

                                    <td class="col-md-1">
                                        <label class="control-label" id="BatchNumberLbl"> Batch Number </label>
                                    </td>
                                    <td class="col-md-2" >
                                        <div class="input-icon" id="BatchNumberDiv">
                                            <i class="fa fa-search"></i>
                                            @*<input type="text" class="searchInputs form-control" value="" name="Title" id="Title" />*@
                                            @Html.TextBox("BatchNumber", "", new { @class = "searchInputs form-control", @type = "Number", @id = "BatchNumber", @placeholder = "Search Batch" })
                                            <input name="QS" id="QS" type="hidden" />
                                        </div>
                                        <div class="input-icon" style="display: none" id="BatchNumberDisplayDiv">
                                            <input type="text" id="BatchNumberDisplayLabel" class="searchInputs form-control" readonly="readonly"/>
                                        </div>

                                    </td>
                                   
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="portlet box blue">
                    <table id="dataTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="textAlignRight">Batch</th>
                                <th class="tableLeftAlignHeader">Title</th>
                                <th class ="tableLeftAlignHeader">Created On</th>
                                <th class="tableLeftAlignHeader">Toy Grader</th>
                              
                                <th class="tableLeftAlignHeader">AFA Serial</th>
                                <th class="tableLeftAlignHeader">Ebay</th>
                                @*<th>Details</th>*@
                                
                                @*<th class="textAlignRight">Points</th>
                                <th class="textAlignRight">Fb Points</th>
                                <th>Active</th>*@
                                @*<th></th>*@
                                @*<th>Delete</th>*@
                            </tr>
                        </thead>
                        
                    </table>
                    
                 
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    jQuery(document).ready(function($) {


       
            $("#CreatedOn").datepicker({
                changeMonth: true,
                changeYear: true,
                maxDate: new Date()
            });
            $("#BatchNumber").change(function () {
                //alert($('#BatchNumber').val());
                $('#QS').val($('#BatchNumber').text());
            });
        var Param = getParameterByName('vpek');
        if (Param != null && Param.length > 0) {
            $('#QS').val(Param);
            $('#BatchNumberDisplayLabel').val(Param);
            $('#backBatch').hide();
            $('#BatchNumberDiv').hide();
            $('#BatchNumberDisplayDiv').show();
    
            //$('#BatchNumberLbl').hide();
        } else {
            $('#backBatch').hide();
            $('#BatchNumberDiv').show();
            $('#BatchNumberDisplayDiv').hide();

            //$('#BatchNumberLbl').show();
        }
        

        var siteURL =  $('#siteURL').val();
        var start = ('@Model.SearchRequest.PageNo' - 1) * '@Model.SearchRequest.PageSize';
        var isAsc = '@Model.SearchRequest.IsAsc' == "True" || '@Model.SearchRequest.IsAsc' == "true";
        var sortBy = ['@Model.SearchRequest.SortBy', isAsc ? 'asc' : 'desc'];

        var oTable = $('#dataTable').dataTable({
            "iDisplayLength": 11,
            "displayStart": start || 0,
            "bFilter": false,
            "bLengthChange": false,
            "aaSorting": [sortBy],
            "columns": [
                 { "data": "EbayBatchImportId", "class": "textAlignRight" },
                { "data": "Title" },
                { "data": "CreatedOn" },
                { "data": "ToyGraderItemId", },
               
                { "data": "AFASerial" },
                  { "data": "ViewItemUrl" }
                //,{ "data": "EbayItemDetails" }
            ],
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: siteURL + "Admin/EbayItemImportLV",
                type: "POST",
                dataType: "json",
                data: function(params) {
                    params.PageNo = Math.ceil(params.start / params.length) + 1;
                    if (params.PageNo === 0) {
                        params.PageNo = 1;
                    }
                    params.PageSize = params.length;
                    params.SortBy = params.order[0].column;
                    //if (params.SortBy === 0) {
                    //    params.SortBy = 1;
                    //}
                    params.IsAsc = params.order[0].dir === "asc";

                    params.Title = $('#Title').val();
                    params.BatchId = $('#QS').val();
                    params.CreatedOn = $('#CreatedOn').val();
                    params.ToyGraderID = $('#ToyGraderID').val();
                    params.AFASerial = $('#AFASerial').val();

                   
                }
             
            }

        });
        $('#btnFltr').on('click', function(e) {
            oTable.fnDraw();
        });

        $('#btnResetFltr').on('click', function(e) {
            $('#Title').val("");
            $('#CreatedOn').val("");
            $('#ToyGraderID').val("");
            $('#AFASerial').val("");
            $('#BatchNumber').val("");
           // $('#QS').val("");
            oTable.fnFilter('');
        });
    });

    function fnActivityComplete(data, e) {
        debugger
    }

</script>