@model TMD.Web.ViewModels.Admin.HomeSliderViewModel
@{
    ViewBag.Title = "Home Slider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mainbar" dir="rtl">

    <!-- Page heading -->
    <div class="page-head">
        <h2 class="pull-right">Add Home Slider Image</h2>

        <div class="clearfix"></div>


        <div class="clearfix"></div>

    </div>
    <!-- Page heading ends -->
    <!-- Matter -->

    <div class="matter">
        <div class="container">
            <!-- Dashboard Graph starts -->
            <div class="row">
                <div class="col-md-12">
                    <div class="widget">
                        <div class="widget-head">
                            <div class="pull-right">Home Slider Add/Update</div>
                            <div class="widget-icons pull-left">
                                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>

                                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <div class="padd">
                                <!-- Form starts.  -->
                                @using (Html.BeginForm("HomeSlider", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                                    @Html.HiddenFor(model => model.HomeSlider.Id)
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.HomeSlider.ImageTitleA, new { @class = " form-control", @placeholder = "عنوان الصورة" })
                                            @Html.ValidationMessageFor(model => model.HomeSlider.ImageTitleA, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">عنوان</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.HomeSlider.ImageTitleE, new { placeholder = "Image Title", @class = "ltr form-control" })
                                            @Html.ValidationMessageFor(model => model.HomeSlider.ImageTitleE, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">Title</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.HomeSlider.SortOrder, new { placeholder = "Sort Order", @class = "ltr form-control" })
                                            @Html.ValidationMessageFor(model => model.HomeSlider.SortOrder, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">Sort Order</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            @Html.CheckBoxFor(model => model.HomeSlider.IsSelected, new { @class = " form-control" })
                                            @Html.ValidationMessageFor(model => model.HomeSlider.IsSelected, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">Is Selected</label>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.HomeSlider.CreatedBy, new { @class = "ltr form-control" })
                                            @Html.ValidationMessageFor(model => model.HomeSlider.CreatedBy, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">Author</label>
                                    </div>
if (Model.HomeSlider != null && Model.HomeSlider.Id > 0)
 {
     <div class="form-group">
         <div class="col-lg-10">
             @Html.HiddenFor(model=>model.HomeSlider.ImageNameE)
             <img class="DisplayImage" src="@Url.Content(Model.HomeSlider.UpdatedBy)" />
         </div>
         <label class="col-lg-2 control-label textAlignLeft">Image</label>
     </div>
 }
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            @Html.TextBoxFor(model => model.UploadImage, new { @class = " form-control", type = "file", accept = ".jpg,.jpeg,.png" })
                                            @Html.ValidationMessageFor(model => model.UploadImage, null, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">Upload Photo</label>
                                    </div>
                                    
                                    <div class="form-group">

                                        <div class="col-lg-10">
                                            @Html.TextAreaFor(model => model.HomeSlider.ImageDescriptionA)
                                            @Html.ValidationMessageFor(model => model.HomeSlider.ImageDescriptionA, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">وصف الأخبار</label>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-lg-10">
                                            @Html.TextAreaFor(model => model.HomeSlider.ImageDescriptionE)
                                            @Html.ValidationMessageFor(model => model.HomeSlider.ImageDescriptionE, String.Empty, new { @class = "Error" })
                                        </div>
                                        <label class="col-lg-2 control-label textAlignLeft">Description</label>
                                    </div>
                                    <hr />
                                    <div class="form-group">

                                        <a href="/Admin/HomeSliderLV">
                                            <div class="col-lg-6">
                                                <button id="signupuser" type="button" class="btn btn-primary btn-block FontSize16">Cancel</button>
                                            </div>
                                        </a>
                                        <div class="col-lg-6">
                                            <button id="signupuser" type="submit" class="btn btn-success btn-block FontSize16">حفظ</button>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Matter ends -->

</div>
<script src="~/RichTextEditor/ckeditor.js"></script>

<script>
    //CKEDITOR.inline('Employee_Bio');//inline editing
    CKEDITOR.replace('HomeSlider_ImageDescriptionA');
    CKEDITOR.replace('HomeSlider_ImageDescriptionE');
    //$(document).ready(function() {
    //    $("#HomeSlider_SortOrder").keyup(function (evt) {
    //        var charCode = $("#HomeSlider_SortOrder").val();
    //        if (parseInt(charCode) > 31 && (parseInt(charCode) < 48 || parseInt(charCode) > 57))
    //            $("#HomeSlider_SortOrder").val('');
    //    });
    //});
</script>